/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*>//<->//<->//<->//<->//<->//<->//<->//<->//<->//<->//<->//<->//<->//<->//<->//<->//<->//<->//<->//<->//<-*/

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
  background-color: #f4f4f4;
  color: #8c00ff;
  border: 1px solid #8c00ff;
}
.product-card-accordian{
    line-height: 50px;
}

.product-card, .product-card-accordian, input, .btn{
    height: 50px;
}

.input{
    visibility: hidden;
    display: none;
}

.active{
    height: auto !important;
    border: #8c00ff 2px solid !important;
    -webkit-box-shadow:0px 0px 24px 0px rgba(132,0,255,0.2);
-moz-box-shadow: 0px 0px 24px 0px rgba(132,0,255,0.2);
box-shadow: 0px 0px 24px 0px rgba(132,0,255,0.2);
  }

  .focusInput, .addBtn{
    color: #8c00ff;
  }
.addBtn{
    position: absolute;
    left: -45px;
    border: none;
}

.accordion-button:after {
    display: none;
   }

   .list-group-item:focus{
    border:  2px solid plum;
   }

   label{
    z-index: 99999999;
   }
   
   .text-success{
    color: rgb(48, 205, 0) !important;
    font-weight: bolder;
   }
   .rmvBtn{
    border: none;
    color: #cccccc;
   }

   .active > .rmvBtn{
display: none;
   }

   .accordion-button:focus{
    box-shadow: none;
    border-color: none;
   }

   .accordion-button:not(.collapsed){
    color: #000000;
    background-color: #ededed;
 
   }

   .preview-btn{
    background-color: #8c00ff;
    border: none;
   }
   .preview-btn:hover{
    background-color: #6100b1 !important;
   }

   .btn:disabled{
    background-color: #000000;
    opacity: 1;
   }

   
   @media only screen and (min-width: 768px) {
.gen-card {
    width: 50%;
    position: relative;;
}
  }

